<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Many_To_One_Select_1_Children_with_Parent/src/str/OurLogic.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="str.OurLogic"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Many_To_One_Select_1_Children_with_Parent"/>
</launchConfiguration>
