<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Mapping_List_In_Collection_Mapping/src/a/StoreData.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="a.StoreData"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Mapping_List_In_Collection_Mapping"/>
</launchConfiguration>
